<div class="container">
    <h1>Login</h1>
    <hr>
    <div class="details">
        <label type="text">Username:</label> <br>
        <input id="username" type=text placeholder="..."><br><br>
        <label type="text">Password:</label><br>
        <input id="password" type="password" placeholder="...">
    </div>
    <button class="login-btn" (click)="loginBtnClicked()">login</button> 
    Dont have a user? <a style="text-decoration: underline;" routerLink="/signup/">SIGNUP</a> 
</div>