.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }

  section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
  }
}

header {
  background: #7700ff;

  .appName {
    font-weight: bold;
  }

  img {
    position: absolute;
    left: 25px;
    top: 6px;
    height: 60px;
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
      }

      a {
        padding: 1.5em;
        text-transform: uppercase;
        font-size: 0.8em;

        &:hover {
          background: #8e2bff;
        }
      }
    }
  }
}
