<header>
  <div class="container">
    <a routerLink="/">
      <img class="appLogo" src="{{ logoPath }}">
    </a>
    <a routerLink="/" class="appName" style="position: absolute">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Chats</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
      </ul>
    </nav>
  </div>
</header>