<div class=wrapper>
  <div class=left-container>
    <br>
    <h1>Chats</h1>
    <span> - {{ username }}</span>
    <br><br>
    <hr>
    <ul>
      <ng-container *ngFor="let user of users">
        <li (click)="clickedUsername(user)">&nbsp;&nbsp;&nbsp;&nbsp;{{ user }}</li><br>
        <hr>
      </ng-container>
    </ul>
  </div>

  <div class="right-container">
    <span>To: {{ currDstUser }}</span>
    <button class="clear-chat" (click)=clearChat() type="text">Clear Chat</button>
    <textarea disabled style="margin-top: 55px;">{{ currTextarea }}</textarea>
    <div class="send-msg-container">
      <input id="msgToSend" value="" placeholder="Enter your input here...">
      <button (click)="submitMsg()" type="text">Send</button>
    </div>
  </div>
</div>