.left-container {
  float: left;
  border-radius: 4px;
  margin-left: 50px;
  margin-top: 20px;
  width: 39%;
  height: 550px;
  background-color: #8f44e4;

  span{
    font-size: 32px;
    font-weight: bold;
  }

  h1 {
    display: inline;
    width: 30%;
    color: white;
    margin-left: 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
  }

  hr {
    border-top: 1.5px solid white;
    width: 95%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      width: 95%;
      margin-left: 12px;
      font-size: larger;

      &:hover {
        background-color: #9863d4;
        border-radius: 5px;
      }
    }
  }
}

.right-container {
  float: right;
  width: 45%;
  height: 550px;
  background-color: #8f44e4;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 4px;

  span{
    float: left;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin-top: 13px;
    margin-left: 15px;
  }

  .clear-chat {
    float: right;
    margin-top: 13px;
    margin-right: 15px;
  }

  .send-msg-container {
    text-align: center;
    width: 100%;
    input {
      width: 75%;
      margin-top: 10px;
    }
  }
}

input,
button {
  border-radius: 1px;
  padding: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

button {
  margin-left: 5px;
  &:hover {
    background: lightgray;
  }
}

textarea {
  width: 90%;
  height: 77%;
  margin-top: 20px;
  resize: none;
  display: block;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}
