<div class="container">
    <h1>Signup</h1>
    <hr>
    <div class="details">
        <label type="text">Username:</label> <br>
        <input id="username" type=text placeholder="..."><br><br>
        <label type="text">Password:</label><br>
        <input id="password" type="password" placeholder="...">
    </div>
    <button class="signup-btn" (click)="signupBtnClicked()">signup</button> 
    Already got a user? <a style="text-decoration: underline;" routerLink="/login/">LOGIN</a> 
</div>