.container {
    background-color: #8f44e4;
    margin: auto;
    margin-top: 80px;
    width: 30%;
    height: 400px;
    border-radius: 3%;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 37px;
    transform: translateY(25%);
}

hr {
    width: 95%;
}

label,
button {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

button{
    &:hover{
        background-color: lightgray;
    }
}

.details,
.signup-btn {
    margin-left: 13%;
}

.details {
    width: 100%;
    display: block;
    margin-top: 30px;
    label {
        font-size: 25px;
    }

    input {
        padding: 4px;
        width: 70%;
        border-color: lightgray;
        margin-top: 5px;
        height: 1.35em;
    }
}

.signup-btn {
    margin-top: 10px;
    border-radius: 2px;
    padding: 4px;
    font-size: 16px;
    margin-top: 13px;
    font-size: 19px;
}

a {
    color: black;
}
