@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html{
    height: 100%;    
    margin: 0 auto;
}

body
{
    font-family: 'Montserrat';
    font-size: 18px;    
}

a{
    text-decoration: none;
}